@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #9fa3a3;
}

::-webkit-scrollbar-thumb {
  background: #003c39;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #106f6a;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
